// variables.scss

$base-font-size: 16px;

////////////////////////////////////////////////////////////////////////////////
// WIDTHS
////////////////////////////////////////////////////////////////////////////////

$site-width--large: 960px;


////////////////////////////////////////////////////////////////////////////////
// COLORS
////////////////////////////////////////////////////////////////////////////////

// REDS
$bittersweet: #FE7063;

// GREENS
$aths-special: #E3EBCA;
$tradewind: #5EAFB6;
$corduroy: #5D7466;
$schist: #99B08D;

// BLUES
$outer-space: #272F36;
$river-bed: #475663;
$ziggurat: #BDE2E1;
