// variables.scss

$base-font-size: 16px;

////////////////////////////////////////////////////////////////////////////////
// WIDTHS
////////////////////////////////////////////////////////////////////////////////

$site-width--large: 1024px;


////////////////////////////////////////////////////////////////////////////////
// COLORS
////////////////////////////////////////////////////////////////////////////////

// REDS
$bittersweet: #FE7063;

// GREENS
$aths-special: #E3EBCA;
$tradewind: #5EAFB6;


// BLUES
$outer-space: #272F36;
