// container.scss

// Container
.container {
  width: 100%;
  padding: 5em 0;
  overflow: hidden;

  // Primary Container
  &.module--primary {
    padding-top: 0;
  }

  // Secondary Container
  &.module--secondary {
    background: rgba(227, 235, 202, .5);
    border: 5px solid rgba(153, 176, 141, .5);
  }

  // Tertiary Container
  &.module--tertiary {
    background: rgba(189, 226, 225, .5);
  }
}
