// buttons.scss

%btn {
  padding: .75em 1em;
  border-radius: 8px;
}

// Button
[role='button'] {
  @extend %btn;
  font-weight: bold;

  // Primary Button
  &.btn--primary {
    color: #fff;
    background-color: $bittersweet;
  }

  // Secondary Button
  &.btn--secondary {
    color: #fff;
    background-color: $tradewind;
  }
}
