// buttons.scss

%btn {
  padding: .75em 1em;
  border-radius: 8px;

}

// Button
[role='button'] {

  // Primary Button
  &.btn--primary {
    @extend %btn;
    color: #fff;
    background-color: $bittersweet;
  }

  // Secondary Button
  &.btn--secondary {
    @extend %btn;
    color: #fff;
    background-color: $tradewind;
  }
}
