// contact-form.scss

.contact-us--wrapper {

  /* Contact Us: Field Label */
  .field-label {
    display: block;

    font-weight: bold;
    text-transform: uppercase;
  }

  /* Contact Us: Form Field */
  .form-field {
    margin-bottom: 15px;

    /* Contact Us: Form Field: Input */
    .wpcf7-text {
      width: 100%;
      height: 26px;
      padding: 5px;
      border: none;

      font: {
        size: 1em;
        family: inherit;
      }
      border-radius: 3px;
    }

    /* Contact Us: Form Field: Textarea */
    .wpcf7-textarea {
      width: 100%;
      padding: 5px;
      border: 0;

      font-size: 1em;
      font-family: inherit;
      border-radius: 3px;
    }
  }

  /* Contact Us: First Name Field */
  .field-first-name {
    width: 220px;
    margin-right: 32px;

    float: left;
  }

  /* Contact Us: Last Name Field */
  .field-last-name {
    width: 220px;

    float: left;
  }

  /* Contact Us: Email Field */
  .field-email {
    width: 300px;
  }

  /* Contact Us: Message Field */
  .field-message {
    width: 480px;
  }

  /* Contact Us: Submit */
  .wpcf7-submit {
    @extend %btn;
    font-weight: bold;
  }
}
