// menus.scss

// Main Menu
.menu--main {
  display: none;
  float: right;

  list-style: none;

  font-size: em(18px, $base-font-size);
  line-height: 1em;
  text-transform: uppercase;
  text-align: right;

  @media (min-width: $site-width--medium) {
    display: block;
  }

  // Main Menu : List Items
  .menu-item {
    display: inline-block;

    // Main Menu : Call to Action Items
    &.menu--c2a {

      // Main Menu : Call to Action Items : Link
      a {
        @extend %btn;
        color: #fff;
        background-color: $bittersweet;
      }
    }

    // Main Menu : List Items : Links
    a {
      display: block;
      padding: .75em .5em;
    }
  }
}
