// sponsors.scss

// Sponsor Wrapper
.sponsors--wrapper {

  .content {
    @media (min-width: $site-width--medium) {
      width: percentage(380px / $site-width--medium);
    }

    @media (min-width: $site-width--large) {
      width: 940px;
    }
  }

  // Sponsor Wrapper: Sponsor
  .sponsors--sponsor {
    width: 100%;
    height: 120px;
    display: block;
    margin-top: 35px;

    float: left;

    @media (min-width: $site-width--large) {
      width: auto;
      margin: 45px 1em;
    }

    // Sponsor Wrapper: Sponsor: Link
    img {
      max-width: 250px;
      display: block;
      margin: 0 auto;
    }
  }
}
